/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-Facebook {
  background-image: url(../img/sprite/sprite-1441a7909c.png);
  background-position: -61px 0px;
  width: 11px;
  height: 19px;
}
.icon-Google {
  background-image: url(../img/sprite/sprite-1441a7909c.png);
  background-position: 0px -44px;
  width: 17px;
  height: 17px;
}
.icon-Mail {
  background-image: url(../img/sprite/sprite-1441a7909c.png);
  background-position: -18px 0px;
  width: 27px;
  height: 18px;
}
.icon-Mobile {
  background-image: url(../img/sprite/sprite-1441a7909c.png);
  background-position: 0px 0px;
  width: 18px;
  height: 29px;
}
.icon-Pinterest {
  background-image: url(../img/sprite/sprite-1441a7909c.png);
  background-position: -45px 0px;
  width: 16px;
  height: 21px;
}
.icon-Twitter {
  background-image: url(../img/sprite/sprite-1441a7909c.png);
  background-position: 0px -29px;
  width: 20px;
  height: 15px;
}
