@font-face {
  font-family: "Brandon-bold";
  src: url(../fonts/BrandonGrotesque-Bold.woff);
}
@font-face {
  font-family: "Brandon-light";
  src: url(../fonts/BrandonGrotesque-Light.woff);
}
@font-face {
  font-family: "Brandon-medium";
  src: url(../fonts/BrandonGrotesque-Medium.woff);
}
@font-face {
  font-family: "Brandon-regular";
  src: url(../fonts/BrandonGrotesque-Regular.woff);
}
